table {
  border: 0.1rem solid #333333;
  border-collapse: collapse;
}

table thead tr th {
  background-color: #000;
  color: #eeeeee;
  padding: .4em;
  text-transform: capitalize;
}

table > tr:hover {
  background-color: #eeeeee;
  border: 1px solid #000000;
  text-transform: capitalize;
}

table > tbody > tr > td {
  border: 1px solid #333;
  padding: 0.3em;
}

table > tr > td:nth-child(3n+1) {
  font-style: italic;
}

table > tr > td:nth-child(2n),
table > tr > td:nth-child(3n) {
  text-align: right;
}
