.covid-dashboard {
  margin: 0 auto;
  width: calc(100% - 100px);
  padding: 50px;
}

@media (max-width: 798px) {
  .covid-dashboard {
    width: calc(100% - 20px);
    padding-bottom: 2em;
    padding-left: 10px;
    margin: 0;
  }
}
