@import '../../styles/colors';

.git-repo {
  margin: 0 auto;
  width: calc(100% - 100px);
  padding: 50px;
}

@media (max-width: 798px) {
  .git-repo {
    width: calc(100vw - 20px);
    padding-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.percentageCircle {
  border-radius: 50%;
  border: 0.25em solid $main-color;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  padding: 0.3em 0.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.marbleCircle {
  border-radius: 50%;
  border: 0.25em solid $main-color;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  padding: 0.3em 0.3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  max-height: 1em;
  min-height: 1em;
  min-width: 1em;
  max-width: 1em;
  height: 1em;
  width: 1em;
}

.circleFlexRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 90%;
}

.jar {
  width: 12em !important;
  border-left: 0.25em solid $main-color;
  border-right: 0.25em solid $main-color;
  border-bottom: 0.25em solid $main-color;
  border-radius: 20%;
  padding: 3em 0.5em 0 0.5em;
  margin-left: auto;
  margin-right: auto;
}
