// Base colors
$main-color: #ff5349;
$main-light-color: #ff938e;
$inverted-main-color: #624da4;

// Additional colors
$text-light-color: #eeeeee;
$background-light-color: #272727;
$background-color: #17141a;
