.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 0 10px #ff5349;
  -moz-box-shadow: inset 0 0 0 10px #ff5349;
  box-shadow: inset 0 0 0 10px #ff5349;
}

.title {
  color: #ff5349;
  font-size: 14.5em;
  line-height: 0.9em;
  margin: 20px 20px 0 20px;
  font-family: adelle-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subtitle {
  color: #ff5349;
  font-size: 2em;
  line-height: 0.9em;
  margin: 0 0 0 20px;
  padding-left: 10px;
  font-family: adelle-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.content {
  margin: 50px 0 0 30px;
}

@media (max-width: 798px) {
  .title {
    text-align: center;
    margin: 20px auto;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 150px;
  }

  .subtitle {
    display: none;
  }
}
