
@import '../../../styles/colors';

.movie-details {
  h1 {
    display: block;
    text-align: center;
    font-size: 6rem;
    margin-top: 0.2em;
  }

  div::before {
    content: '<-- ';
  }

  div {
    display: block;
    color: $main-color;
    font-weight: bolder;
    background-color: $background-light-color;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    margin-bottom: 50px;
  }

  img {
    padding-top: 50px;
    width: 100%;
  }
}
